@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body{
    background-color: rgb(187, 187, 187);
    margin:0;
}
.fa-solid.fa-bars{
    font-size: 30px;
    position: absolute;
    left:1%;
    top:1.3%;
    transition-duration: 0.5s;
    cursor:pointer;
}
.fa-solid.fa-bars:hover{
    background-color: rgba(88, 88, 88, 0.507);
    border-radius: 5px;
}
a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    margin-left:10px;
}
a{
    font-size:18px;
    font-family: "Source Code Pro", monospace;
}
.menu{
    position:absolute;
    background-color: white;
    padding: 459px 120px;
}
.text{
    top:3%;
    right:10%;
    text-align: center;
    position: absolute;
}
.hidden{
    display: none;
}
.fa-solid.fa-xmark{
    position:absolute;
    left:89%;
    font-size:30px;
    bottom:95%;
    cursor:pointer;
    transition-duration: 0.5s;
}
.fa-solid.fa-xmark:hover{
    background-color: rgba(88, 88, 88, 0.507);
    border-radius: 5px;
}
.menutitle{
    font-family: Poppins;
    top:1%;
}
